<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SpotterMK - Stocks</title>
</head>
<link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
        rel="stylesheet"
/>
<body class="d-flex flex-row justify-content-center" style="background-color: #f8f9fa;">
<div class="container text-center mt-4 d-flex flex-column justify-content-center align-items-center">
    <!-- Header Section -->
    <div class="d-flex justify-content-between align-items-center mb-5 w-100">
        <img src="logo.png" alt="SpotterMK Logo" width="175px">
        <div>
            <a href="/home" class="btn btn-link text-dark fw-bold text-decoration-none">Home</a>
            <a href="/explore" class="btn btn-link text-dark fw-bold text-decoration-none">Explore Stocks</a>
            <a href="/about" class="btn btn-link text-dark fw-bold text-decoration-none">About</a>
        </div>
    </div>

    <div class="d-flex">
        <div class="w-50 pt-3" style="font-size: large">
            <p>Welcome to SpotterMK, your go-to platform for data-driven insights into the Macedonian Stock Exchange. Developed by three passionate students from the Faculty of Computer Science and Engineering (FINKI) at UKIM - Skopje, this app combines innovation and expertise to revolutionize how investors approach the stock market.</p>
            <p>Our team has harnessed 10 years of historical stock data, real-time updates, and advanced machine learning algorithms to create a platform that delivers accurate predictions on stock movements. What sets us apart is our integration of sentiment analysis from market-relevant news stories, providing a holistic view of the factors influencing stock prices.</p>
            <p>Whether you're a seasoned investor analyzing trends, a portfolio manager mitigating risks, or a newcomer making your first investment, SpotterMK offers the tools and insights to help you succeed.</p>
            <p style="font-weight: bolder">Built by students, designed for the future. Join us as we bring smarter investing to everyone.</p>
        </div>
        <div class="w-50">
            <img src="about.png" class="w-75">
        </div>
    </div>

    <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="h5">Contact Information</div>
        <p>
            davidstojkov23@gmail.com
        </p>
    </div>

    <hr>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="d-flex flex-row w-50 justify-content-around">
            <a href="https://github.com/ScipioDS/SpotterMK" style="color: black">GitHub</a>
        </div>
        <p class="text-muted">©Copyright SpotterMK - 2025</p>
    </div>
</div>
</body>
</html>